html {
    font-family: 'Michroma', sans-serif;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
   }
  body {
    height: 100%;
    width: 100%;
    background: rgb(241, 190, 216);
    display: flex;
    flex-direction: row;
  
}
main {
    flex: 70%;
    display: flex;
    justify-content: flex-start;
    height: 100%;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 75%;
    }



  h1 {
    font-size: 60px;
    padding: 0;
    margin: 0;
    color: #5fa0c0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 25%;
   }
  .player-command { 
    font-size: 40px;
    padding: 0;
    color: #f5f7f8;
    display: flex;
    padding: 40px;
 
   }

   title {
    font-size: 20px;
    color: #f5f7f8;

   }

   .wrapper1 {
    display: flex;
    float: left;
    /* margin-right: -41px; */
    width: 25%;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 20px;
    padding: 0;
    color: #f5f7f8;
    display: flex;
    padding: 40px;
   
    
   }

   .wrapper2 {
    display: flex;
    float: right;
    width: 25%;
    flex-direction: column;

   }

   .wrapper3 {
    display: flex;
    float: right;
    /* margin-right: -41px; */
    width: 25%;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 20px;
    padding: 0;
    color: #f5f7f8;
    display: flex;
    padding: 40px;
    
    
   }
   .main-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px;
    height: 40%;
    width: 85%;
    cursor: pointer;
    
}
   .box {
    border: 10px;
    height: 430px;
    width: 300px;
    display: flex;
    flex-direction: row;
  }
   #box1 {
    margin-top: 100px;
    background-color: #e652b2;
    display: flex;
    flex-direction: column;
    align-items: center;
 
   }
   #box2 {
    margin-top: 40px;
    background-color: #e652b2;
    display: flex;
    flex-direction: column;
    align-items: center;
   
   }
   .difficult-game-view {
    
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    align-items: center;

   }


   .classic-game-view {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  align-items: center;

  }

   .scissors-icon{
    width: 200px;
    height: 200px;

   }

   .paper-icon {
    width: 200px;
    height: 200px;
   }

   .rock-icon {
    width: 200px;
    height: 200px;
   }
   .difficult-chick-icon {
    width: 200px;
    height: 200px;
   }

   .difficult-hot-air-balloon-icon{
    width: 200px;
    height: 200px;

   }

   .girl-icon {
    width: 100px;
    height: 100px;

   }

   .computer-icon {
    width: 100px;
    height: 100px;
   }

   .button-change-game{
    width: 100px;
    height: 50px;
    background-color: #d0538b;
    font-size: 10px;
    padding: 0;
    color: #f5f7f8;

   }

   .button-hover{
    background-color: #EBC3A8;
   }

    .icon-hover{
    background-color: #EBC3A8;
  }


   .hidden {
    display : none;
   }
   
